.main-text {
    color: var(--Color, rgba(255, 255, 255, 1));
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.form-label {
    color: rgba(255, 255, 255, 1);

    font-family: Roboto;
    font-size: 14px;
    font-weight: 430;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.form-control {
    height: 44px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 130;
    padding: 14px 28px 14px 28px;

    box-sizing: border-box;
    border: 1px solid var(--Color, rgba(255, 255, 255, 1));
    border-radius: 16px;
    background: rgba(135, 135, 135, 1);
}

.form-control::placeholder {
    color: white;
    opacity: 1; 
}

.btn-primary {
     height: 40px;
}
